body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.75);
  font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
}
html, body{ 
  height:100%;
}
/* 
markdown 编辑器
.CodeMirror {
  background-color: #F9F9F5 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}
.editor-preview, .editor-preview-side {
  background-color: #F9F9F5 !important;
}

.editor-toolbar .disabled-for-preview a:not(.no-disable) {
  background-color: #F9F9F5 !important;
}

.editor-toolbar.fullscreen {
  background-color: #F9F9F5 !important;
} */

